#sec-a {
  margin: auto;
  position: relative;
  width: 60%;
  left: -17%;
}

#sec-b {
margin: auto;
position: relative;
border: solid thin;
width: 22%;
padding: none;
top: -7em;
right: -30em;
}

#h1-1 {
  margin: auto;
  padding-left: 1.4em;
}

#li-a {
  margin: auto;
  display: inline-block;
  position: relative;
  padding-bottom: 1em;
}

#sec-c {
  width: 10em;
  position: relative;
  display: inline-block;
  margin: auto;
  padding: 0% 0% 0% 0%;
  top: -28em;
  right: -71.5em;
  border: none;
}